
<h1>GeTography</h1>
<p>Find me in app/views/flickr/index.html.erb</p>
<p> Type in an address, city, state or county and click 'Find Photos'</p>

<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->

<script type="text/javascript">
// remove all js code from here..
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>

</head>
<body>

<div id="floating-panel">
<input id="address" type="textbox" value= "Sydney, Australia">
<input id="submit" type="button" value="Find Photos">
</div>
<div id="map"></div>
